/* ===== RESET & BASE ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: sans-serif;}

/* ===== CONTENEDOR ===== */
.nav-btns {
  min-height: calc(100vh - 80px); 
}

/* ===== BOTONES (Verde Intenso sobre Navy) ===== */
.btn-custom {
  background-color: #62FF00; /* Verde Intenso */
  color: #000000;            /* Texto Azul Navy */
  border: 2px solid #000000;
  font-weight: bold;
  width: 220px;
  transition: all 0.3s ease-in-out;
}

/* Efecto Hover (Invierte a Navy sobre Verde Intenso) */
.btn-custom:hover {
  background-color: #525151;
  color: #62FF00;
  border-color: #62FF00;
  box-shadow: 0 0 20px rgba(98, 255, 0, 0.5); /* Brillo neón */
  transform: translateY(-3px);
}

/* ===== BOTÓN DE SALIR ===== */
.btn-salir {
  background-color: #e63946; 
  color: #ffffff;
  border: 2px solid #fcfcff;
  font-weight: bold;
  width: 220px;
  transition: all 0.3s ease-in-out;
}

.btn-salir:hover {
  background-color: #b71c1c;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(230, 57, 70, 0.4);
  transform: translateY(-3px);
}